@import url('https://fonts.googleapis.com/css?family=Dancing+Script');
*{
font-family: 'Montserrat-Bold';

}

@keyframes content animation {

	margin-top:150% a -5%;
	0%

	}

body {

	margin-left: 5%;
	padding-right: 5%;
color: white;
background-color:  #F4F4F4;

}

header{
  padding: 25px ;

background-color: #091319;




}
 a{
	text-decoration: none;
	color: white;
}

#menu-principal{
float:right;
 
}

#central{
  background-color: #02010a;

  }
#central .img1{
	box-shadow:  2px  2px 2px 2px #02010a;
}
#contenedor  .img2,.img3 {
	box-shadow: 2px 2px 2px 2px #02010a;
}

.img2{
	box-shadow: 2px 2px 2px 2px #02010a;
}
.img1 {
  width: 70%;
    padding: 5px;
	margin: 5px;
    text-align: center;

}



#imagen2{
  background-color: #d5c75f;

}

.img2, .img3 {
  width: 60%

}

}
#imagen2 .img2 {
	transition-property: border;
	transition-duration: 0.5s;

}

#imagen2 .img2:hover {
border: solid 2px #82c3a6 ;
	transform: rotate(10deg);
}

#imagen2.img3{
	transition-property: border;
	transition-duration: 0.7s;
		box-shadow: 2px #82c3a6 ;
}

#imagen2 .img3:hover {
transform: translate(20px,-5px);

}

footer {
display: flex;
color: white;
border-radius: 0 0 10px 10px;
background: black;
}

footer div {
flex-basis: 0;
flex-grow: 1;
padding-left: 5%;
}


.contenedor {
display: flex;
text-align: center;

}

@media (max-width:420px) {
header{
	text-align: center;
}

a{

padding-right: 30px;
}

	footer{
		flex-direction: column;
		text-align: center;


}
h1{
	text-align: center;
}
.contenedor{
	width: 100%;
	display: flex;
	flex-flow: column;

}
.img2,.img3{
	width: 40%
}
}

@media max-width: 900px; {
.conten{
	width: 900px;


}

	}
